@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

* {
  font-family: "Roboto Slab", serif;
}

body {
  background-color: grey !important;
  font-family: "Roboto Slab", serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

.column {
  flex: 25%;
  padding: 0 4px;
}

#justify_content_center {
  justify-content: center !important;
  text-align: center !important;
}

.navbar {
  background: #ffac53;
  float: none !important;
  color: #212529 !important;
}

.footer {
  background-color: #ffac53;
}

.navbar_link {
  text-decoration: none;
  color: #212529 !important;
}

.navbar_link:hover {
  text-decoration: underline !important;
}

.navbar_link:active {
  text-decoration: underline !important;
}

.home_background {
  background: url(../images/raceCoverPicture.jpg) no-repeat center center fixed !important;
  background-size: cover !important;
  height: 100vh !important;
  margin-bottom: 0 !important;
}

.riders_background {
  background: url(../images/raceCoverPicture.jpg) no-repeat center center fixed !important;
  background-size: cover !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.countdown {
  color: #ffac53;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 3em;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.form {
  color: #ffac53;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 3em;
  border-radius: 10px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.riders_div {
  display: flex;
  justify-content: center;
  color: white;
}

#mapid {
  height: 500px;
  margin: 2em;
}

.home_link {
  color: #ffac53;
  border: 3px solid white;
  padding: 1em;
  margin: 1em;
  text-decoration: none;
}

.home_link:hover {
  text-decoration: underline;
}

.home_link:active {
  text-decoration: underline;
}

.image_button {
  border: 0.5px solid white !important;
  color: white !important;
  background-color: #ffac53 !important;
  transition: background-color 0.25s !important;
  text-align: center !important;
}

.image_button:active {
  background-color: #fe8300 !important;
}

.image_button:focus {
  outline: none !important;
}

.riders_table {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

table,
th,
td {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.55);
}

.form_button {
  border: 2px solid white !important;
  color: white !important;
  background-color: #ffac53 !important;
}

#page_header {
  text-align: center;
  background-color: #ffa23f;
  color: #818181;
}

.contest_image {
  width: 100%;
  height: 300px;
  background-color: #ffa23f;
  color: #818181;
  position: relative;
}

.contest_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title_nav_link {
  color: #212529 !important;
  font-size: 1.75rem !important;
}
